<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>
<div class="movies">
  {{#each movies}}
    <div class="column">
      <img src={{this.image}} alt="" />
      <h3>{{this.title}}</h3>
      <a href="/movies/{{this._id}}">See more</a>
    </div>
  {{/each}}
</div>